@import '../../scss/variables';

.E404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, transparent 60%, rgba(0, 0, 0, 0.1) 40%);

  h1 {
    font-size: 10rem;
    color: $danger;
  }
}